
*.LOG
pcb/History
pcb/XTB01*
pcb/bitmap.png
device/work*
MIO_firmware*
device/ise/xlnx_auto_0_xdb/cst.xbcd
device/ise/xst/work/hdllib.ref
device/ise/xst/work/vlg01/pulse__gen__rising.bin
device/ise/xst/work/vlg02/sram__fifo.bin
device/ise/xst/work/vlg06/cdc__pulse__sync.bin
device/ise/xst/work/vlg0C/cdc__fifomem.bin
device/ise/xst/work/vlg0E/_c_g___m_o_d__pos.bin
device/ise/xst/work/vlg0F/gpac__adc__rx__core.bin
device/ise/xst/work/vlg14/bus__to__ip.bin
device/ise/xst/work/vlg18/cdc__reset__sync.bin
device/ise/xst/work/vlg18/seq__gen__blk__mem.bin
device/ise/xst/work/vlg1F/gpio__core.bin
device/ise/xst/work/vlg20/spi__core.bin
device/ise/xst/work/vlg26/sram__fifo__core.bin
device/ise/xst/work/vlg27/wptr__full.bin
device/ise/xst/work/vlg28/_l_f___s_f_f___m_i_o.bin
device/ise/xst/work/vlg28/cdc__sync__w2r.bin
device/ise/xst/work/vlg2E/gpac__adc__iobuf.bin
device/ise/xst/work/vlg2E/seq__gen.bin
device/ise/xst/work/vlg30/cdc__sync__r2w.bin
device/ise/xst/work/vlg36/cdc__syncfifo.bin
device/ise/xst/work/vlg37/gpio.bin
device/ise/xst/work/vlg42/seq__gen__core.bin
device/ise/xst/work/vlg48/rrp__arbiter.bin
device/ise/xst/work/vlg54/spi.bin
device/ise/xst/work/vlg5D/blk__mem__gen__8__to__1__2k.bin
device/ise/xst/work/vlg67/gpac__adc__rx.bin
device/ise/xst/work/vlg6B/clk__gen.bin
device/ise/xst/work/vlg74/reset__gen.bin
device/ise/xst/work/vlg76/rptr__empty.bin
device/ise/xst/work/vlg7A/gerneric__fifo.bin
device/ise/LF_SFF_MIO_summary.xml
device/ise/LF_SFF_MIO_usage.xml
device/ise/LF_SFF_MIO_xst.xrpt
device/ise/LF_SFF_MIO.bgn
device/ise/LF_SFF_MIO.bld
device/ise/LF_SFF_MIO.cmd_log
device/ise/LF_SFF_MIO.drc
device/ise/LF_SFF_MIO.lso
device/ise/LF_SFF_MIO.ncd
device/ise/LF_SFF_MIO.ngc
device/ise/LF_SFF_MIO.ngd
device/ise/LF_SFF_MIO.ngr
device/ise/LF_SFF_MIO.pad
device/ise/LF_SFF_MIO.par
device/ise/LF_SFF_MIO.pcf
device/ise/LF_SFF_MIO.prj
device/ise/LF_SFF_MIO.ptwx
device/ise/LF_SFF_MIO.stx
device/ise/LF_SFF_MIO.syr
device/ise/LF_SFF_MIO.twr
device/ise/LF_SFF_MIO.twx
device/ise/LF_SFF_MIO.unroutes
device/ise/LF_SFF_MIO.ut
device/ise/LF_SFF_MIO.xpi
device/ise/LF_SFF_MIO.xst
device/ise/webtalk_pn.xml
device/ise/webtalk.log
device/ise/xtb01_bitgen.xwbt
device/ise/xtb01_envsettings.html
device/ise/xtb01_guide.ncd
device/ise/xtb01_map.map
device/ise/xtb01_map.mrp
device/ise/xtb01_map.ncd
device/ise/xtb01_map.ngm
device/ise/xtb01_map.xrpt
device/ise/xtb01_ngdbuild.xrpt
device/ise/xtb01_pad.csv
device/ise/xtb01_pad.txt
device/ise/xtb01_par.xrpt
device/ise/xtb01_summary.html
device/ise/xtb01_summary.xml
device/ise/xtb01_usage.xml
device/ise/xtb01_xst.xrpt
device/ise/xtb01.bgn
device/ise/xtb01.bit
device/ise/xtb01.bld
device/ise/xtb01.cmd_log
device/ise/xtb01.drc
device/ise/xtb01.gise
device/ise/xtb01.lso
device/ise/xtb01.ncd
device/ise/xtb01.ngc
device/ise/xtb01.ngd
device/ise/xtb01.ngr
device/ise/xtb01.pad
device/ise/xtb01.par
device/ise/xtb01.pcf
device/ise/xtb01.prj
device/ise/xtb01.ptwx
device/ise/xtb01.stx
device/ise/xtb01.syr
device/ise/xtb01.twr
device/ise/xtb01.twx
device/ise/xtb01.unroutes
device/ise/xtb01.ut
device/ise/xtb01.xpi
device/ise/xtb01.xst
device/ise/_ngo/netlist.lst
device/ise/_xmsgs/bitgen.xmsgs
device/ise/_xmsgs/map.xmsgs
device/ise/_xmsgs/ngdbuild.xmsgs
device/ise/_xmsgs/par.xmsgs
device/ise/_xmsgs/pn_parser.xmsgs
device/ise/_xmsgs/trce.xmsgs
device/ise/_xmsgs/xst.xmsgs
device/ise/LF_SFF_MIO_par.xrpt
device/ise/LF_SFF_MIO_pad.txt
device/ise/LF_SFF_MIO_pad.csv
device/ise/LF_SFF_MIO_ngdbuild.xrpt
device/ise/LF_SFF_MIO_map.xrpt
device/ise/LF_SFF_MIO_map.ngm
device/ise/LF_SFF_MIO_map.ncd
device/ise/LF_SFF_MIO_map.mrp
device/ise/LF_SFF_MIO_map.map
device/ise/LF_SFF_MIO_envsettings.html
device/ise/iseconfig/*
device/ise/_ngo/*
device/ise/_xmsgs/*
device/ise/xlnx_auto_0_xdb/*
device/ise/xst/*

device/ise/LF_SFF_MIO_guide.ncd
device/ise/LF_SFF_MIO_summary.html
device/ise/LF_SFF_MIO.gise
host/__pycache__/*
notes.md
host/array_plots.py
host/example_.py
host/example.py
host/example.yaml
host/iv_test.py
host/iv_xtb01.py
host/lftestm_mio.bit
host/single_pix_spectra.py
host/xtb01.bit
host/xtb01.py
host/xtb01.yaml
